<!DOCTYPE html>
<html lang="en" class="free-certification-dumps">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta name="viewport"
      content="width=device-width,height=device-height,initial-scale=1,viewport-fit=cover,user-scalable=no">
   <title> Aptitude Test </title>
   <meta name="description"
      content="{{#if description }}{{description}}{{else}}Practice for top certification exams with this 100% Free certification dumps. It contains free real exam questions from the actual certifications.{{/if}}">
   <link rel="canonical" href="{{#if canonicalUrl}}{{canonicalUrl}}{{else}}{{originalUrl}}{{/if}}" />
   {{#block "metaNew"}}
   {{/block}}

   {{!--
   <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
      integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
      integrity="sha256-c9vxcXyAG4paArQG3xk6DjyW/9aHxai2ef9RpMWO44A=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>

   <script type="application/ld+json">
      {
         "@context": "https://schema.org",
         "@type": "Organization",
         "url": "https://www.freecertificationdumps.com",
         "logo": "https://res.cloudinary.com/adaface/image/upload/f_auto,q_auto/free-certification-dumps-logo.png"
      }
      </script>

   <!--Add twitter meta data-->
   <meta property="og:site_name" content="Free Certification Dumps">
   <meta property="og:type" content="website">
   <meta property="og:url" content="{{#if canonicalUrl}}{{canonicalUrl}}{{else}}{{originalUrl}}{{/if}}">
   <meta property="og:title" content="{{#if title}}{{title}}{{else}}Free Certification Dumps{{/if}}">
   <meta property="og:description"
      content="{{#if description}}{{description}}{{else}}Practice for top certification exams with this 100% Free certification dumps. It contains free real exam questions from the actual certifications.{{/if}}">
   <meta property="og:locale" content="en_US">
   {{!--
   <meta property="og:image"
      content="{{#if featureImage}}{{featureImage}}{{else}}https://res.cloudinary.com/dxxri2trj/image/upload/w_850,f_auto,q_auto/adaface_preview.png{{/if}}">
   --}}
   <meta name="twitter:url" content="{{#if canonicalUrl}}{{canonicalUrl}}{{else}}{{originalUrl}}{{/if}}">
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:description"
      content="{{#if description}}{{description}}{{else}}Practice for top certification exams with this 100% Free certification dumps. It contains free real exam questions from the actual certifications.{{/if}}">
   <meta name="twitter:title" content="{{#if title}}{{title}}{{else}}Free Certification Dumps{{/if}}">
   {{!--
   <meta name="twitter:image"
      content="{{#if featureImage}}{{featureImage}}{{else}}https://res.cloudinary.com/dxxri2trj/image/upload/w_850,f_auto,q_auto/adaface_preview.png{{/if}}">
   --}}

   <link rel="dns-prefetch" href="https://www.freecertificationdumps.com">
   <link rel="dns-prefetch" href="https://www.googletagmanager.com/">

   <link rel="shortcut icon"
      href="https://res.cloudinary.com/adaface/image/upload/f_auto,q_auto/free-certification-dumps-logo.png">
   <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
   {{!--
   <link rel="stylesheet" href="/stylesheets/dropdown.css"> --}}

   <script defer src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
   <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" as="style"
      onload="this.onload=null;this.rel='stylesheet'">
   <noscript>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />
   </noscript>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body class="vsc-initialized" cz-shortcut-listen="true">
   <div id="main-app">
      {{#if noheader }}
      <style>
         .navbar,
         .noheader {
            display: none !important;
         }
      </style>
      {{/if}}
      {{#if nofooter }}
      <style>
         .mainfooter {
            display: none !important;
         }
      </style>
      {{/if}}
      {{#if fullBody }}
      <style>
         html,
         body,
         #main-app,
         .app-inner,
         .fullbody {
            height: 100% !important;
         }
      </style>
      {{/if}}

      <!-- This example requires Tailwind CSS v3.0+ -->
      <div class="isolate">
         <div class="px-6 py-6 lg:px-8 noheader bg-white">
            <div>
               <nav class="flex h-9 items-center justify-between" aria-label="Global">
                  <div class="flex items-center justify-between w-full lg:min-w-0 lg:flex-1" aria-label="Global">
                     <a href="/" class="-m-1.5 p-1.5">
                        <span class="sr-only">Free Aptitude Tests</span>
                        <img class="h-6 sm:h-8 md:pl-12" {{!-- src="/images/logo.png" --}}
                           src="https://res.cloudinary.com/adaface/image/upload/f_auto,q_auto/free-certification-dumps-logo.png"
                           alt="">
                     </a>

                     <div
                        class="relative inline-block text-left md:mx-2 md:flex md:justify-between md:items-center md:flex-1">
                        <div>
                           <button type="button"
                              class="relative inline-flex justify-center px-6 sm:px-12 py-2 mt-1 text-gray-800 text-sm sm:text-md md:text-base font-medium tracking-wide duration-200 hover:bg-gray-50 rounded-lg"
                              id="menu-button" aria-expanded="true" aria-haspopup="true">
                              Aptitude Tests
                           </button>

                           <div id="dropdown"
                              class="hidden absolute top-12 right-0 md:left-0 md:right-auto min-w-[190px] md:min-w-[200px] z-20 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                              role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                              <div class="py-2" role="none">
                                 <div class="flex items-start justify-center rounded hover:bg-gray-50">

                                    <a href="/verbal-reasoning" class="text-gray-900 px-4 py-2 text-md my-auto"
                                       role="menuitem" tabindex="-1" id="menu-item-0">Verbal Reasoning</a>
                                 </div>

                                 <div class="flex items-start justify-center rounded hover:bg-gray-50">
                                    <a href="/spatial-reasoning" class="text-gray-900 px-4 py-2 text-md my-auto"
                                       role="menuitem" tabindex="-1" id="menu-item-1">Spatial Reasoning</a>
                                 </div>


                                 <div class="flex items-start justify-center rounded hover:bg-gray-50">
                                    <a href="/logical-reasoning" class="text-gray-900 px-4 py-2 text-md my-auto"
                                       role="menuitem" tabindex="-1" id="menu-item-2">Logical Reasoning</a>
                                 </div>


                                 <div class="flex items-start justify-center rounded hover:bg-gray-50">
                                    <a href="/abstract-reasoning" class="text-gray-900 px-4 py-2 text-md my-auto"
                                       role="menuitem" tabindex="-1" id="menu-item-3">Abstract Reasoning</a>
                                 </div>


                                 <div class="flex items-start justify-center rounded hover:bg-gray-50">
                                    <a href="/numerical-reasoning" class="text-gray-900 px-4 py-2 text-md my-auto"
                                       role="menuitem" tabindex="-1" id="menu-item-4">Numerical Reasonng</a>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="relative text-left ml-6 mt-1 hidden md:block font-medium">
                           <a href="/#test"
                              class="mt-2 px-6 py-2 text-gray-900 duration-200 hover:bg-gray-50 rounded-lg">All
                              Tests</a>
                           <a href="#feature"
                              class="mt-2 px-6 py-2 text-gray-900 duration-200 hover:bg-gray-50 rounded-lg">Features</a>
                           <a href="#testimonial"
                              class="mt-2 px-6 py-2 text-gray-900 duration-200 hover:bg-gray-50 rounded-lg">Testimonials</a>
                        </div>
                     </div>



                     {{!-- DROPDOWN MENU --}}


                  </div>

                  <!-- Mobile menu, show/hide based on menu open state. -->
                  {{!-- <div role="dialog" aria-modal="true" id="mobileMenu" class="hidden">
                     <div focus="true" class="fixed inset-0 z-10 overflow-y-auto bg-white px-6 py-6 lg:hidden">
                        <div class="flex h-9 items-center justify-between">
                           <div class="flex">
                              <a href="#" class="-m-1.5 p-1.5">
                                 <span class="sr-only">Free certification dumps</span>
                                 <img class="h-8"
                                    src="https://res.cloudinary.com/adaface/image/upload/f_auto,q_auto/free-certification-dumps-logo.png"
                                    alt="">
                              </a>
                           </div>
                           <div class="flex">
                              <button type="button" id="closeMobileMenu"
                                 class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                                 <span class="sr-only">Close menu</span>
                                 <!-- Heroicon name: outline/x-mark -->
                                 <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                 </svg>
                              </button>
                           </div>
                        </div>
                        <div class="mt-6 flow-root">
                           <div class="-my-6 divide-y divide-gray-500/10">
                              <div class="space-y-2 py-6">
                                 <a href="/exam/amazon"
                                    class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">AWS</a>

                                 <a href="/exam/microsoft"
                                    class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Azure</a>

                                 <a href="/exam/splunk"
                                    class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Splunk</a>

                                 <a href="/exam/tableau"
                                    class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Tableau</a>
                              </div>
                              <div class="py-6">
                                 <a href="#"
                                    class="-mx-3 block rounded-lg py-2.5 px-3 text-base font-semibold leading-6 text-gray-900 hover:bg-gray-400/10">Log
                                    in</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div> --}}
            </div>
         </div>
         <main id="content1">
            {{#block "body"}}
            {{/block}}
         </main>

         <footer class="bg-white" aria-labelledby="footer-heading">
            <h2 id="footer-heading" class="sr-only">Footer</h2>
            <div class="mx-auto max-w-7xl py-12 px-6 sm:px-6 lg:py-16 lg:px-8">
               <div class="xl:grid xl:grid-cols-3 xl:gap-8">
                  <div class="space-y-8 xl:col-span-1">
                     <a href="/">
                        <img class="h-6 sm:h-8" {{!-- src="/images/logo.png" --}}
                           src="https://res.cloudinary.com/adaface/image/upload/f_auto,q_auto/free-certification-dumps-logo.png"
                           alt="">
                     </a>
                     <p class="text-base text-gray-800">Widely accessible and FREE source for all employment based
                        aptitude exam
                     </p>

                  </div>
                  <div class="mt-12 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                     <div class="md:grid md:grid-cols-2 md:gap-8">
                        <div>
                           <h3 class="text-base font-medium text-gray-900">Popular Aptitude Tests</h3>
                           <ul role="list" class="mt-4 space-y-4">
                              <li>
                                 <a href="/verbal-reasoning"
                                    class="text-sm sm:text-base text-gray-700 hover:text-gray-600">Verbal Reasoning</a>
                              </li>

                              <li>
                                 <a href="/spatial-reasoning"
                                    class="text-sm sm:text-base text-gray-700 hover:text-gray-600">Spatial Reasoning</a>
                              </li>

                              <li>
                                 <a href="/logical-reasoning"
                                    class="text-sm sm:text-base text-gray-700 hover:text-gray-600">Logical Reasoning</a>
                              </li>

                              <li>
                                 <a href="/abstract-reasoning"
                                    class="text-sm sm:text-base text-gray-700 hover:text-gray-600">Abstract
                                    Reasoning</a>
                              </li>

                              <li>
                                 <a href="/numerical-reasoning"
                                    class="text-sm sm:text-base text-gray-700 hover:text-gray-600">Numerical
                                    Reasoning</a>
                              </li>
                           </ul>
                        </div>

                     </div>
                     <div class="md:grid md:grid-cols-2 md:gap-8">
                        <div>
                           <h3 class="text-base font-medium text-gray-900">Company</h3>
                           <ul role="list" class="mt-4 space-y-4">
                              <li>
                                 <a href="#" class="text-sm sm:text-base text-gray-700 hover:text-gray-600">About</a>
                              </li>

                              <li>
                                 <a href="#" class="text-sm sm:text-base text-gray-700 hover:text-gray-600">Blog</a>
                              </li>

                              <li>
                                 <a href="#" class="text-sm sm:text-base text-gray-700 hover:text-gray-600">Jobs</a>
                              </li>

                              <li>
                                 <a href="#" class="text-sm sm:text-base text-gray-700 hover:text-gray-600">Press</a>
                              </li>

                              <li>
                                 <a href="#" class="text-sm sm:text-base text-gray-700 hover:text-gray-600">Partners</a>
                              </li>
                           </ul>
                        </div>
                        <div class="mt-12 md:mt-0">
                           <h3 class="text-base font-medium text-gray-900">Legal</h3>
                           <ul role="list" class="mt-4 space-y-4">
                              <li>
                                 <a href="#" class="text-sm sm:text-base text-gray-700 hover:text-gray-600">Claim</a>
                              </li>

                              <li>
                                 <a href="#" class="text-sm sm:text-base text-gray-700 hover:text-gray-600">Privacy</a>
                              </li>

                              <li>
                                 <a href="#" class="text-sm sm:text-base text-gray-700 hover:text-gray-600">Terms</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="mt-12 border-t border-gray-300 pt-8">
                  <p class="text-base text-gray-500 xl:text-center">&copy; 2023 Employment Aptitude Tests. All rights
                     reserved.</p>
               </div>
            </div>
         </footer>

      </div>


   </div>

   <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <noscript>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
         integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
         crossorigin="anonymous" referrerpolicy="no-referrer" />
   </noscript>

   <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js"></script>
   <script>
      var lazyLoadInstance = new LazyLoad({
         elements_selector: ".lazy"
      });

   </script>

   {{!-- dropdown toggle --}}
   <script src="/js/dropdown.js">{ !}</script>

   {{!-- Overrideable block --}}
   {{#block "eob-block"}}
   {{/block}}

   <script>
      $("#openMobileMenu").click(function () {
         $("#mobileMenu").addClass("block");
         $("#mobileMenu").removeClass("hidden");
      });
      $("#closeMobileMenu").click(function () {
         $("#mobileMenu").removeClass("block");
         $("#mobileMenu").addClass("hidden");
      });

   </script>
</body>

</html>