{{#content "body"}}


<div class="w-full px-6 pt-16 bg-white text-gray-900 pb-6 sm:pb-6">
  <div class="relative items-center -mx-6 lg:mt-6 xl:flex">
    <div class="max-w-4xl px-6 mx-auto sm:text-center">
      <h1 class="text-3xl leading-none sm:text-4xl md:text-6xl font-bold text-blue-500">{{catData.title}}</h1>
      

      <p class="max-w-2xl mt-4 text-gray-600 leading-normal sm:text-lg text-primary-offset tracking-wide font-semibold mx-auto">{{catData.description}}</p>
      
      <div class="flex mt-3 sm:justify-center">
        {{!-- <a href="/{{catData.commentsSlug}}/online-test" class="focus:outline-none inline-flex items-center justify-center font-bold duration-200 text-button px-4 py-1 text-md mt-6 text-primary text-white hover:bg-gray-800 border-gray-800 bg-gray-800 rounded-full border-2">
          <span>Take free test</span>
        </a> --}}

        {{!-- modeal button --}}

        <button class="inline-flex items-center justify-center font-bold duration-200 text-button px-4 py-1 text-md mt-6 text-primary text-white hover:bg-gray-800 border-gray-800 bg-gray-800 rounded-full ease-linear transition-all" type="button" onclick="toggleModal('modal-id')">
          Take free test
        </button>

        {{!-- modal content at the end--}}


        <a href="/{{catData.commentsSlug}}/{{certData.slug}}/view/page/1" class="focus:outline-none inline-flex items-center justify-center font-bold duration-200 text-button px-4 py-1 text-md mt-6 text-primary text-blue-500 hover:border-gray-500 border-gray-400 rounded-full border-2 mx-2">
          <span>View All Questions
            {{!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg> --}}
          </span>
        </a>
        {{!-- <a href="/{{catData.commentsSlug}}/{{certData.slug}}/view/page/1" class="focus:outline-none inline-flex items-center justify-center font-medium leading-tight shadow-md duration-200 rounded bg-primary-700 text-button px-6 py-3 text-md mt-8 text-primary text-gray-100 hover:bg-primary-600">
          <span>View Questions</span>
        </a> --}}
      </div>
    </div>
  </div>

  <div class="overflow-hidden bg-white pt-0 sm:pt-8">
  <div class="relative mx-auto max-w-7xl pt-20 sm:px-6 sm:pt-28 sm:pb-6">
    <svg class="absolute top-0 left-full -translate-x-1/2 -translate-y-3/4 transform lg:left-auto lg:right-full lg:translate-x-2/3 lg:translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
      <defs>
        <pattern id="8b1b5f72-e944-4457-af67-0c6d15a99f38" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-100" fill="currentColor"></rect>
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#8b1b5f72-e944-4457-af67-0c6d15a99f38)"></rect>
    </svg>
    <div class="relative lg:grid lg:grid-cols-2 lg:gap-x-12 xl:gap-x-16">
      <div class="lg:col-span-1">
        <h2 class="text-xl font-bold tracking-tight text-gray-700 sm:text-3xl">Upskill your career with free employment based aptitude tests.</h2>
        <p class="text-md font-normal text-gray-700 pt-4">These tests offer a convenient, detailed, and data-driven way to identify areas for improvement and boost your career advancement.</p>
        <p></p>
      </div>
      <ul class="pt-8">
        <li class="text-body-color mb-4 flex text-base">
          <span class="text-secondary mr-2 rounded-full text-base">
            <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current text-blue-600 h-6 w-6 sm:h-8 sm:w-8">
              <path
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          <p  class="font-normal text-md sm:text-lg pb-4"><span class="">Timed tests</span> help assess a candidate's ability to perform under pressure and complete tasks within a specified time frame.</p>
        </li>
        <li class="text-body-color mb-4 flex text-base">
          <span class="text-secondary mr-2 rounded-full text-base">
            <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current text-blue-600 h-6 w-6 sm:h-8 sm:w-8">
              <path
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          <p class="font-normal text-md sm:text-lg pb-4">Detailed explanation for question provide a comprehensive understanding of the test results and areas for improvement to the user.</p>
        </li>
        <li class="text-body-color mb-4 flex text-base">
          <span class="text-secondary mr-2 rounded-full text-base">
            <svg width="20" height="20" viewBox="0 0 20 20" class="fill-current text-blue-600 h-6 w-6 sm:h-8 sm:w-8">
              <path
                d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
              ></path>
              <path
                d="M8.9375 12.1875C8.71875 12.1875 8.53125 12.125 8.34375 11.9687L6.28125 9.96875C6.0625 9.75 6.0625 9.40625 6.28125 9.1875C6.5 8.96875 6.84375 8.96875 7.0625 9.1875L8.9375 11.0312L12.9375 7.15625C13.1563 6.9375 13.5 6.9375 13.7188 7.15625C13.9375 7.375 13.9375 7.71875 13.7188 7.9375L9.5625 12C9.34375 12.125 9.125 12.1875 8.9375 12.1875Z"
              ></path>
            </svg>
          </span>
          <p  class="text-md sm:text-lg font-normal pb-4">Question bank of more than 50+ quality questions covers all the major topic and provide a great opportunity to upskill yourself</p>
        </li>
      </ul>
    </div>
  </div>
</div>
  
</div>

{{!-- 1st section --}}

{{!-- 
<div id="what-is" class="relative w-full max-w-screen-xl px-6 sm:px-8 py-10 mx-auto text-lg sm:py-20">
  <div class="grid gap-10 md:grid-cols-3">
    <div class="flex flex-col col-span-2 justfify-center">
      <ul class="pb-4 text-xl markdown">
        <li>
          <div class="markdown">
            <h2 class="text-2xl sm:text-4xl font-semibold pb-8 text-gray-900">What is <strong class="text-blue-500 font-semibold">{{catData.title}}</strong> and what does it measure?</h2>
            <p class="text-base md:text-lg leading-relaxed text-gray-900 tracking-wide font-normal">
              {{certData.metadata.info1}}
            </p><br>
            <p class="text-base md:text-lg leading-relaxed text-gray-900 tracking-wide font-normal">
              {{certData.metadata.info2}}
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-span-2 space-y-8 md:col-span-1 md:mt-6">
      <div class="p-6 text-base bg-gray-50 rounded-sm shadow-md shadow-gray-400">
        <h4 class="mb-4 text-lg font-medium text-gray-900">Jump to a section on this page:</h4>
        <ol class="space-y-3 list-none list-inside">
          <li class="text-gray-700 hover:text-gray-900">
            <a href="#what-is" class="duration-150 ease-out hover:text-secondary">What is an {{catData.title}} and what does it measure?</a>
          </li>
          <li class="text-gray-700 hover:text-gray-900">
            <a href="#why-should" class="duration-150 ease-out hover:text-secondary">Why should our free {{catData.title}}?</a>
          </li>
          <li class="text-gray-700 hover:text-gray-900">
            <a href="#the-format" class="duration-150 ease-out hover:text-secondary">The format of our {{catData.title}}</a>
          </li>
          <li class="text-gray-700 hover:text-gray-900">
            <a href="#score" class="duration-150 ease-out hover:text-secondary">{{catData.title}} score card</a>
          </li>
          <li class="text-gray-700 hover:text-gray-900">
            <a href="#review" class="duration-150 ease-out hover:text-secondary">Satisfactory customer Reviews</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div> --}}


{{!-- 1st section ends --}}

{{!-- <div class="bg-white">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-6xl lg:px-8">
    <h2 class="text-lg font-medium text-gray-900">Comments</h2>
    <div class="mt-6 space-y-10 divide-y divide-gray-200 border-t border-b border-gray-200 pb-10">
      <div class="pt-10 lg:grid lg:grid-cols-12 lg:gap-x-8">
        <div class="lg:col-span-8 lg:col-start-5 xl:col-span-9 xl:col-start-4 xl:grid xl:grid-cols-3 xl:items-start xl:gap-x-8">

          <div class="mt-4 lg:mt-6 xl:col-span-2 xl:mt-0">
            <h3 class="text-sm font-medium text-gray-900">Can&#039;t say enough good things</h3>

            <div class="mt-3 space-y-6 text-sm text-gray-500">
              <p>I was really pleased with the overall shopping experience. My order even included a little personal, handwritten note, which delighted me!</p>
              <p>The product quality is amazing, it looks and feel even better than I had anticipated. Brilliant stuff! I would gladly recommend this store to my friends. And, now that I think of it... I actually have, many times!</p>
            </div>
          </div>
        </div>

        <div class="mt-6 flex items-center text-sm lg:col-span-4 lg:col-start-1 lg:row-start-1 lg:mt-0 lg:flex-col lg:items-start xl:col-span-3">
          <p class="font-medium text-gray-900">Risako M</p>
          <time datetime="2021-01-06" class="ml-4 border-l border-gray-200 pl-4 text-gray-500 lg:ml-0 lg:mt-2 lg:border-0 lg:pl-0">May 16, 2021</time>
        </div>
      </div>

      <!-- More reviews... -->
    </div>
  </div>
</div> --}}

    <!-- More main page content here... -->



<div class="bg-gray-50">
  <div class="w-full max-w-screen-xl px-6 sm:px-8 py-8 sm:py-20 mx-auto pb-4 sm:pb-24" id="feature">
    <div  id="why-should" class="-mx-6">
      <div class="items-center lg:flex">
        <div class="lg:w-1/2 px-6 order-2">
          <div class="relative mx-auto max-w-md sm:max-w-3xl sm:px-6 lg:px-0 order-2">
          <!-- Content area -->
          <div class="pt-6 md:pt-12 lg:pt-8">
            <h2 class="text-2xl sm:text-4xl font-bold tracking-tight text-gray-800 pb-4"><strong  class="font-bold text-blue-500">Why use</strong> {{catData.title}}?</h2>
            <div class="mt-6 space-y-6 text-gray-900">
              <p class="text-base md:text-lg tracking-wide font-normal">{{certData.metadata.whyCertification.[0]}}</p>
              <p class="text-base md:text-lg tracking-wide font-normal">{{certData.metadata.whyCertification.[1]}}</p>
              {{!-- <p class="text-base leading-7">{{certData.metadata.whyCertification.[2]}}</p> --}}
            </div>
          </div>

          <!-- Stats section -->
          <div class="mt-6">
            <dl class="grid grid-cols-2 sm:grid-cols-4 gap-x-4 gap-y-4">
              <div class="border-t-2 border-gray-400 pt-2 sm:pt-8">
                <dt class="text-base font-medium text-gray-800">Price</dt>
                <dd class="text-xl md:text-3xl font-semibold tracking-tight text-blue-500">0$</dd>
              </div>

              <div class="border-t-2 border-gray-400 pt-2 sm:pt-8">
                <dt class="text-base font-medium text-gray-800">Questions</dt>
                <dd class="text-xl md:text-3xl font-semibold tracking-tight text-blue-500">50+</dd>
              </div>

              <div class="border-t-2 border-gray-400 pt-2 sm:pt-8">
                <dt class="text-base font-medium text-gray-800">Quality</dt>
                <dd class="text-xl md:text-3xl font-semibold tracking-tight text-blue-500">99.9%</dd>
              </div>

              <div class="border-t-2 border-gray-400 pt-2 sm:pt-8">
                <dt class="text-base font-medium text-gray-800">Students</dt>
                <dd class="text-xl md:text-3xl font-semibold tracking-tight text-blue-500">10K+</dd>
              </div>
            </dl>
          </div>
        </div>
        </div>
        <div class="relative flex justify-center px-4 lg:w-1/2">
          <span class="z-40 w-full" style="max-width: 450px;">
              <img class="" src="/images/whyusea.svg" alt="">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>




{{!-- Format section --}}


<div class="bg-white">
  <div id="the-format" class="w-full max-w-screen-xl px-6 sm:px-8 py-8 sm:py-20 mx-auto">
    <div class="-mx-6">
      <div class="items-center lg:flex">
        <div class="lg:w-1/2 px-6">
          <h2 class="mt-2 pb-8 leading-none text-gray-900 text-2xl sm:text-4xl font-bold"><strong class="font-bold text-blue-500">Format</strong> of {{catData.title}}</h2>
          <p class="text-base md:text-lg leading-relaxed text-gray-900 tracking-wide font-normal">
            {{certData.metadata.format1}}
          </p>
          <br>
          <p class="text-base md:text-lg leading-relaxed text-gray-900 tracking-wide font-normal">
            {{certData.metadata.format2}}
          </p>
        </div>
        <div class="relative flex justify-center px-4 lg:w-1/2">
          <span class="z-40 w-full" style="max-width: 450px;">
              <img class="" src="/images/formatd.svg" alt="">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>




{{!-- score card section --}}



<div class="bg-gray-50">
  <div id="score" class="w-full max-w-screen-xl px-6 sm:px-8 py-8 sm:py-20 mx-auto">
    <div class="-mx-6">
      <div class="items-center lg:flex">
        <div class="lg:w-1/2 px-6 order-2">
          <h3 class="mt-2 mb-8 text-2xl md:text-4xl font-bold leading-none text-gray-800">View sample <strong  class="font-bold text-blue-500">score card</strong></h3>
          <p class="pb-8 text-gray-900 leading-relaxed text-base md:text-lg tracking-wide font-normal">The process of evaluating a candidate's performance on the {{catData.title}} and other assessments involves compiling the results of these assessments into a comprehensive report. </p>
          <p class="pb-4 text-gray-900 text-base md:text-lg leading-relaxed tracking-wide font-normal">The candidate report is designed to provide a detailed overview of the candidate's strengths and weaknesses, as well as their overall performance on the various assessments they have taken. It can be used by employers and managers to make informed decisions about the candidate's suitability.</p>
          <div class="mt-6">
          <a target="_blank" href={{catData.scorecard}} download class="focus:outline-none inline-flex items-center justify-center font-bold duration-200 text-button px-4 py-1 mb-1 text-lg text-primary text-blue-500 border-gray-400 rounded-full border-2">
            <span>Download sample report</span>
          </a>
          <p class="text-gray-600 text-sm pl-4">powered by <a target="_blank" class="font-semibold underline decoration-gray-100 underline-offset-4 duration-200 hover:decoration-gray-600" href="https://www.adaface.com/">Adaface</a></p>
        </div>
        </div>
        <div class="relative flex justify-center px-4 lg:w-1/2">
          <span class="z-40 w-full md:rotate-[-2deg]" style="max-width: 450px;">
              <img class="drop-shadow-md " src="/images/score.jpg" alt="">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>



{{!-- Uses our test --}}
{{!-- 
<div class="bg-gray-200 bg-opacity-25">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8">
      <h2 class="mx-auto max-w-md text-center text-3xl font-bold tracking-tight text-primary-900 lg:max-w-xl lg:text-left">The world's most innovative companies use our employment aptitude tests</h2>
      <div class="mt-8 flow-root self-center lg:mt-0">
        <div class="-mt-4 -ml-8 flex flex-wrap justify-between lg:-ml-4">
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow justify-center lg:ml-4 lg:flex-grow-0">
            <img class="h-12" src="/images/startup1.png" alt="Workcation">
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow justify-center lg:ml-4 lg:flex-grow-0">
            <img class="h-12" src="/images/startup2.png" alt="Tuple">
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow justify-center lg:ml-4 lg:flex-grow-0">
            <img class="h-12" src="/images/startup3.png" alt="Level">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}



{{!-- review --}}


<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 sm:pt-24 lg:px-8" id="testimonial">
    <div id="review" class="mx-auto max-w-xl text-center">
      <h2 class="text-2xl font-bold tracking-tight sm:text-5xl">
        Read <strong class="font-bold text-blue-500">trusted reviews</strong> from our customers
      </h2>
    </div>
    <div class="mx-auto text-center max-w-3xl">
      <p class="text-md font-normal text-700 pt-6 tracking-wide">Our customers who have used our aptitude tests have been highly satisfied with their results and the overall experience. Including the accurate test results, user-friendly interface, quality questions, their overall experience was enhanced.</p>
    </div>

    <div
      class="mb-14 mt-8 sm:mt-20 grid grid-cols-1 gap-8 sm:grid-cols-2 sm:gap-16 lg:grid-cols-3">
      <div class=" rounded-md bg-white">
        <blockquote class=" flex flex-col justify-between rounded-lg p-8 sm:p-12 pt-6 text-center shadow-lg">
          <p class="text-lg font-bold text-gray-900">John Smith</p>
          <p class="mt-1 text-sm font-medium text-gray-800">
            HR Manager, Acme Inc.
          </p>
          <p class="mt-4 text-md text-gray-700">
            {{certData.metadata.testimonial.[0]}}
          </p>

          <div class="mt-8 flex justify-center gap-0.5 text-blue-500">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
          </div>
        </blockquote>
      </div>

      <div class=" rounded-md bg-white">
        <blockquote
          class="flex flex-col justify-between rounded-lg p-8 sm:p-12 pt-6 text-center shadow-lg"
        >
          <p class="text-lg font-bold text-gray-900">James Garcia</p>
          <p class="mt-1 text-sm font-medium text-gray-800">
            IT Engineer, DigitalWorks
          </p>
          <p class="mt-4 text-md text-gray-700">
            {{certData.metadata.testimonial.[1]}}
          </p>

          <div class="mt-8 flex justify-center gap-0.5 text-blue-500">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
          </div>
        </blockquote>
      </div>

      <div class=" rounded-md bg-white">
        <blockquote
          class="flex flex-col justify-between rounded-lg p-8 sm:p-12 pt-6 text-center shadow-lg"
        >
          <p class="text-lg font-bold text-gray-900">William Robinson</p>
          <p class="mt-1 text-sm font-medium text-gray-800">
            Accounts Manager, SoftPro
          </p>
          <p class="mt-4 text-md text-gray-700">
            {{certData.metadata.testimonial.[2]}}
          </p>

          <div class="mt-8 flex justify-center gap-0.5 text-blue-500">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
          </div>
        </blockquote>
      </div>

    </div>
  </div>
</section>


<section class="overflow-hidden bg-blue-500">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative py-14 sm:py-24" id="test">
    <div class="mx-auto max-w-lg text-center">
      <h2 class="font-bold text-3xl tracking-tight text-white sm:text-4xl">Experience & Enhance</h2>
      <p class="mt-4 text-base sm:text-lg text-gray-100">Just don't take our words for it. It's your time to boost your aptitude knowledge. Start practicing and upskill your job with our free employement aptitude tests.</p>


      <div class="flex space-x-4 mt-3 justify-center">
        <button class="inline-flex items-center justify-center font-bold duration-200 text-button px-4 py-1 text-md mt-6 text-primary text-white hover:bg-gray-800 border-gray-800 bg-gray-800 rounded-full ease-linear transition-all" type="button" onclick="toggleModal('modal-id')">
          Take free test
        </button>
        
        <a href="/{{catData.commentsSlug}}/{{certData.slug}}/view/page/1" class="focus:outline-none inline-flex items-center bg-white justify-center font-bold duration-200 text-button px-4 py-1 text-md mt-6 text-primary text-blue-500 hover:bg-gray-50 border-gray-100 rounded-full border-2">
          <span>View All Questions
          </span>
        </a>
        {{!-- <a href="/{{catData.commentsSlug}}/{{certData.slug}}/view/page/1" class="focus:outline-none inline-flex items-center justify-center font-medium leading-tight shadow-md duration-200 rounded bg-primary-700 text-button px-6 py-3 text-md mt-8 text-primary text-gray-100 hover:bg-primary-600">
          <span>View Questions</span>
        </a> --}}
      </div>


    </div>
  </div>


  {{!-- modal content --}}

          <div class="hidden fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center mx-4" id="modal-id">
            <div class="">
              <!--content-->
              <div class="border-0 rounded-lg shadow-lg bg-white outline-none focus:outline-none">
                <!--header-->
                <div class="flex py-4 px-6 border-b border-solid border-gray-200 rounded-t">
                  <h3 class="text-2xl font-semibold">
                    {{catData.title}}
                  </h3>
                </div>
                <!--body-->
                <div class="py-4 px-4 sm:px-6">
                  <div>
                    <ul class="list-none text-base sm:text-lg font-normal">
                      <li class="pt-1"><svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3 text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>The test contains MCQ based questions. </li>    
                      <li class="pt-1"><svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3 text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Do not refresh the page before completion of the test. </li>
                      <li class="pt-1"><svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3 text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Press the submit button to check the score and correct answers. </li>
                      <li class="pt-1"><svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3 text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Set the time and total number of questions in the test</li>
                    </ul>
                  </div>

                  <div class="md:flex justify-evenly pt-2">
                    <div class="w-full mx-2 my-4">
                      <select class="time form-select appearance-none
                        block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-semibold
                        text-gray-700
                        bg-white bg-clip-padding bg-no-repeat
                        border border-solid border-gray-500
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
                          {{!-- <option selected>Select Time</option> --}}
                          <option class="bg-black hover:bg-gray-400" value="10">10 minutes</option>
                          <option value="20">20 minutes</option>
                          <option value="30" selected>30 minutes</option>
                          <option value="40">40 minutes</option>
                      </select>
                    </div>
                    <div class="w-full mx-2 my-4">
                      <select class="ques form-select appearance-none
                        block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-semibold
                        text-gray-700
                        bg-white bg-clip-padding bg-no-repeat
                        border border-solid border-gray-500
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
                          <option value="5">5 Questions</option>
                          <option value="10">10 Questions</option>
                          <option value="20" selected>20 Questions</option>
                          <option value="30">30 Questions</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--footer-->
                <div class="flex items-center justify-end py-4 px-6 border-t border-solid border-slate-200 rounded-b">
                  <button class="text-blue-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
                    Close
                  </button>
                  <a class="bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-sm px-6 py-2 shadow-sm hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 rounded-full start-test cursor-pointer" type="button" onclick="toggleModal('modal-id')">
                    Start Test
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="hidden fixed inset-0 z-40 bg-gray-900 opacity-40" id="modal-id-backdrop"></div>
</section>




<script type="text/javascript">
  function toggleModal(modalID){
    document.getElementById(modalID).classList.toggle("hidden");
    document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
    document.getElementById(modalID).classList.toggle("flex");
    document.getElementById(modalID + "-backdrop").classList.toggle("flex");
  }

  document.querySelector(".start-test").addEventListener("click", function() {
    const selectedTime = document.querySelector(".time").value;
    const numOfQuestions = document.querySelector(".ques").value;
    window.location.href = `/{{catData.commentsSlug}}/online-test/?time=${selectedTime}&questions=${numOfQuestions}`;
  });
</script>


{{/content}}