{{#content "body"}}


<div class="w-full px-6 lg:h-[92vh]  pt-16 bg-gradient-to-r from-back-dark via-back-semi to-back-light text-gray-200 pb-16 sm:pb-32">
  <div class="relative items-center -mx-6 mt-2 xl:flex">
    <div class="max-w-2xl px-6 mx-auto text-center">
      <h1 class="text-3xl leading-none sm:text-4xl md:text-5xl font-bold">{{catData.title}}</h1>
      

      <p class="mt-4 text-gray-300 leading-normal sm:text-lg md:text-xl text-primary-offset tracking-wide">{{catData.description}}</p>
      
      <div class="flex space-x-4 justify-center">
        <a href="/exam/{{catData.commentsSlug}}/{{certData.slug}}/view/page/1" class="focus:outline-none inline-flex items-center justify-center font-medium leading-tight shadow-md duration-200 rounded bg-primary-700 text-button px-6 py-3 text-md mt-8 text-primary text-gray-100 hover:bg-primary-600">
          <span>View Questions</span>
        </a>
      </div>
    </div>
  </div>

  <div class="relative hidden w-full max-w-screen-xl px-6 pt-8 mx-auto md:block" style="top:80px;">
  <div class="bg-gradient-to-t from-gray-300 to-gray-200 rounded-lg shadow">
    <section class="text-center mx-auto">
      <h2 class="text-gray-900 tracking-wider uppercase font-bold mb-8 pt-8">Access over 300+ actual asked questions 
      </h2>

      <div class="flex flex-wrap lg:flex-row items-center justify-center lg:justify-between max-w-6xl text-center mx-auto -my-8">
        <div class="w-full sm:w-32 h-32 flex flex-col justify-center p-4">
          <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 596 194.5"><style>.st0{fill:#3780ff}.st1{fill:#38b137}.st2{fill:#fa3913}.st3{fill:#fcbd06}</style><path class="st0" d="M73.4 0h5.3c18.4.4 36.5 7.8 49.5 20.9-4.8 4.9-9.7 9.6-14.4 14.5-7.3-6.6-16.1-11.7-25.7-13.5-14.2-3-29.5-.3-41.4 7.8C33.7 38.2 24.9 52.6 23 68c-2.1 15.2 2.2 31.2 12.1 43 9.5 11.5 24 18.7 39 19.2 14 .8 28.6-3.5 38.8-13.3 8-6.9 11.7-17.4 12.9-27.6-16.6 0-33.2.1-49.8 0V68.7h69.9c3.6 22.1-1.6 47-18.4 62.8-11.2 11.2-26.7 17.8-42.5 19.1-15.3 1.5-31.1-1.4-44.7-8.8C24 133.1 11 118.4 4.6 101.1c-6-15.9-6.1-33.9-.5-49.9C9.2 36.6 19 23.7 31.6 14.7 43.7 5.8 58.4.9 73.4 0z"></path><path class="st1" d="M474.4 5.2h21.4V148c-7.1 0-14.3.1-21.4-.1.1-47.5 0-95.1 0-142.7z"></path><path class="st2" d="M193.5 54.7c13.2-2.5 27.5.3 38.4 8.2 9.9 7 16.8 18 18.9 30 2.7 13.9-.7 29.1-9.7 40.1-9.7 12.3-25.6 18.9-41.1 17.9-14.2-.8-28-7.9-36.4-19.5-9.5-12.8-11.8-30.4-6.6-45.4 5.2-16.1 19.9-28.4 36.5-31.3m3 19c-5.4 1.4-10.4 4.5-14 8.9-9.7 11.6-9.1 30.5 1.6 41.3 6.1 6.2 15.3 9.1 23.8 7.4 7.9-1.4 14.8-6.7 18.6-13.7 6.6-11.9 4.7-28.3-5.4-37.6-6.5-6-16-8.5-24.6-6.3z"></path><path class="st3" d="M299.5 54.7c15.1-2.9 31.6 1.3 42.9 11.9 18.4 16.5 20.4 47.4 4.7 66.4-9.5 12-24.9 18.6-40.1 17.9-14.5-.4-28.8-7.6-37.4-19.5-9.7-13.1-11.8-31.1-6.3-46.4 5.5-15.6 19.9-27.5 36.2-30.3m3 19c-5.4 1.4-10.4 4.5-14 8.8-9.6 11.4-9.2 30 1.1 40.9 6.1 6.5 15.6 9.7 24.4 7.9 7.8-1.5 14.8-6.7 18.6-13.7 6.5-12 4.6-28.4-5.6-37.7-6.5-6-16-8.4-24.5-6.2z"></path><path class="st0" d="M389.4 60.5c11.5-7.2 26.8-9.2 39.2-3 3.9 1.7 7.1 4.6 10.2 7.5.1-2.7 0-5.5.1-8.3 6.7.1 13.4 0 20.2.1V145c-.1 13.3-3.5 27.4-13.1 37.1-10.5 10.7-26.6 14-41.1 11.8-15.5-2.3-29-13.6-35-27.9 6-2.9 12.3-5.2 18.5-7.9 3.5 8.2 10.6 15.2 19.5 16.8 8.9 1.6 19.2-.6 25-8 6.2-7.6 6.2-18 5.9-27.3-4.6 4.5-9.9 8.5-16.3 10-13.9 3.9-29.2-.9-39.9-10.3-10.8-9.4-17.2-23.9-16.6-38.3.3-16.3 9.5-32 23.4-40.5m20.7 12.8c-6.1 1-11.8 4.4-15.7 9.1-9.4 11.2-9.4 29.1.1 40.1 5.4 6.5 14.1 10.1 22.5 9.2 7.9-.8 15.2-5.8 19.1-12.7 6.6-11.7 5.5-27.6-3.4-37.8-5.5-6.3-14.3-9.4-22.6-7.9z"></path><path class="st2" d="M521.5 65.6c12-11.2 30.5-15 45.9-9.1C582 62 591.3 75.9 596 90.2c-21.7 9-43.3 17.9-65 26.9 3 5.7 7.6 10.9 13.8 13 8.7 3.1 19.1 2 26.4-3.8 2.9-2.2 5.2-5.1 7.4-7.9 5.5 3.7 11 7.3 16.5 11-7.8 11.7-20.9 19.9-35 21.2-15.6 1.9-32.2-4.1-42.3-16.3-16.6-19.2-15-51.4 3.7-68.7m10.7 18.5c-3.4 4.9-4.8 10.9-4.7 16.8 14.5-6 29-12 43.5-18.1-2.4-5.6-8.2-9-14.1-9.9-9.5-1.7-19.4 3.4-24.7 11.2z"></path></svg></div><div class="w-full sm:w-32 h-32 flex flex-col justify-center p-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 758.994"><path fill="#E669A2" d="M1000 325.903H636.264v-93.1H1000v93.1z"></path><path fill="#F3BE26" d="M952.755 325.903H636.264V93.051h316.491v232.852z"></path><path fill="#EE9C34" d="M821.998 325.903H636.264V0h185.734v325.903z"></path><path fill="#F3BC87" d="M858.538 325.903H636.264V36.365h222.274v289.538z"></path><path fill="#E3721C" d="M636.213 36.42v289.453h185.765V36.42H636.213z"></path><path fill="#AD1B02" d="M450.016 325.903h186.248v46.555H450.016v-46.555z"></path><path fill="#E88D14" d="M636.213 93v232.873h222.432V93H636.213z"></path><path fill="#D85604" d="M636.213 93v232.873h185.765V93H636.213z"></path><path fill="#C14303" d="M752.413 325.903H636.264V186.142h116.149v139.761z"></path><path fill="#DB4E18" d="M636.213 232.869v93.004h316.649v-93.004H636.213z"></path><path fill="#D1390D" d="M636.213 232.869v93.004h222.432v-93.004H636.213z"></path><path fill="#C22303" d="M636.213 232.869v93.004h185.765v-93.004H636.213z"></path><path fill="#AD1B02" d="M636.213 232.869v93.004h116.315v-93.004H636.213z"></path><path d="M676.76 501.249c-31.689 5.634-48.59 29.577-48.59 71.126 0 42.254 22.534 70.423 55.633 70.423 16.197 0 30.281-5.634 59.858-20.423v34.508c-35.915 16.9-57.042 21.126-85.21 21.126-31.69 0-54.227-7.746-71.832-26.76-18.31-18.311-28.169-42.254-28.169-69.72 0-59.858 45.07-101.407 110.563-101.407 42.958 0 73.24 20.423 73.24 49.296 0 19.014-14.086 32.395-34.508 32.395-10.563 0-19.015-3.521-30.986-9.86M518.31 581.53c28.873-35.915 39.437-50.704 39.437-68.31s-14.085-33.1-33.803-33.1c-11.268 0-21.83 6.339-26.76 11.973v73.943L450 629.416V485.756h-45.07l-74.649 123.24v-123.24h-25.353l-68.31 15.494v17.605l37.324 3.52v152.818h47.183l71.831-118.31v118.31h52.817M93.662 651.249h10.563c38.027 0 59.154-23.24 59.154-69.72 0-38.731-16.9-59.858-48.592-59.858-4.225 0-10.563.704-21.126 2.817v126.76h.001zm0 83.098l30.985 7.042v17.605H2.817v-17.605l28.168-7.042V521.67H0v-17.605l73.943-22.535h19.72v25.353c34.506-21.127 46.478-24.648 64.787-24.648 40.846 0 71.831 38.028 71.831 90.846 0 60.563-41.549 102.112-104.93 102.112-7.042 0-19.014-.704-31.689-1.408"></path></svg>
          </div>
          
          <div class="w-full sm:w-32 h-32 flex flex-col justify-center p-4"><svg id="Ebene_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 296.5 122"><style>.ht1{fill:#1d1d1b}.ht2{fill:#008bd2}.ht3{fill:#b71d4a}.ht4{fill:#76b82a}</style><path class="st0" d="M19.5 100.7H7.2V87.1H0v34.2h7.2v-14.4h12.3v14.4h7.2V87.1h-7.2zM32.4 103.8h14.7v5.5H32.4zM72.4 100.7H60.2V87.1H53v34.2h7.2v-14.4h12.2v14.4h7.2V87.1h-7.2zM97.5 95.7c-7.5 0-11.7 5.2-11.7 13.1 0 7.9 4.1 13.1 11.7 13.1 7.5 0 11.7-5.2 11.7-13.1 0-7.9-4.1-13.1-11.7-13.1zm0 20.7c-3.4 0-4.7-3-4.7-7.6s1.2-7.6 4.7-7.6c3.4 0 4.7 3 4.7 7.6s-1.3 7.6-4.7 7.6zM122.9 112.6v-11.1h5.8v-5.2h-5.8V89c-3.8.3-6.3 1.4-6.9 1.7v5.6h-3.2v5.2h3.2v11.6c0 5.6 2.3 8.7 8.3 8.7 2.5 0 4.6-.4 5.2-.6v-5.5c-1.1.3-2.4.6-3.7.6-2.1 0-2.9-.6-2.9-3.7zM142.4 111.9l4.4-1c5.5-1.3 8.2-3 8.2-7.5 0-4.2-3.1-7.6-9.9-7.6-7.3 0-12.3 5.2-12.3 13.1 0 7.9 3.9 13.1 11.7 13.1 4.5 0 8.1-.9 10.4-2.3v-5.5c-3.1 1.3-7.4 2.4-10.4 2.4-2.7 0-3.8-1.7-3.8-2.7s.5-1.7 1.7-2zm-2.7-3.5v-.5c0-4.1 2-6.8 5.3-6.8 2 0 3.1 1 3.1 2.6 0 1.5-1 2.4-3.3 3l-3 .8c-1.2.3-1.8.6-2.1.9zM167.9 112.8v-27H161v27.4c0 6 2.1 8.3 6.7 8.3 1.5 0 3-.2 3.6-.4v-5.3h-1.2c-1.6 0-2.2-.5-2.2-3zM187.6 106.4l-2.3-.7c-2.4-.8-3.2-1.4-3.2-2.6 0-1.3 1.2-2 3-2 2.2 0 5 .6 7.4 1.7v-5.5c-2-.9-4.8-1.6-7.9-1.6-6.7 0-9.7 3.5-9.7 7.6 0 4.3 2.5 6.3 6.4 7.6l2.3.8c2.2.7 3 1.4 3 2.6 0 1.5-1.2 2.3-3.5 2.3-2.6 0-5.7-.9-8.2-2.3v5.8c2.7 1.2 5.1 1.9 8.2 1.9 6.9 0 10.6-3 10.6-8.2.1-3.7-1.9-6-6.1-7.4zM202.6 116.2c-1.6 0-2.8 1.3-2.8 2.8 0 1.6 1.3 2.8 2.8 2.8s2.8-1.3 2.8-2.8c.1-1.6-1.2-2.8-2.8-2.8zM211 108.8c0 8 4 13 10.7 13 2.1 0 3.6-.2 5.7-1v-3.1c-2.1.8-3.3 1.1-5.7 1.1-5.2 0-7.3-4.1-7.3-10 0-6 2.2-10 7.3-10 2.4 0 3.6.3 5.7 1.1v-3.1c-2.1-.8-3.6-1-5.7-1-6.7 0-10.7 5-10.7 13zM243.5 95.8c-6.9 0-10.7 5.2-10.7 13s3.9 13 10.7 13c6.9 0 10.7-5.2 10.7-13 .1-7.8-3.8-13-10.7-13zm0 23.1c-5.2 0-7.3-4.1-7.3-10 0-6 2.2-10 7.3-10 5.2 0 7.4 4.1 7.4 10s-2.2 10-7.4 10zM295.7 100.1c-1.6-3.4-4.8-4.3-6.8-4.3-4.7 0-7.2 1.9-8.7 5.1-1.4-4.1-4.6-5.1-7.3-5.1-4.4 0-6.7 2.1-8.1 4.7 0-1.2-.1-3.2-.3-4.2h-2.9v25h3.3v-12.6c0-6.2 2.3-9.6 7.4-9.6 2.5 0 4.2 1.3 4.8 3.3.3 1 .3 1.4.3 6v13h3.3v-12.6c0-6.2 2.4-9.6 7.4-9.6 2.5 0 4.2 1.3 4.8 3.3.3 1 .3 1.4.3 6v13h3.3v-14.7c0-3.4-.1-5.2-.8-6.7z"></path><path class="ht2" d="M139.8 6.3c1.8 0 3.4-1.1 4.1-2.7.2-.5.4-1.1.4-1.8v-.4c0-.2-.1-.4-.1-.7 0-.1-.1-.3-.1-.4-3 .5-5.8 1.4-8.4 2.8.4 1.9 2.1 3.2 4.1 3.2zM166.6 27.9c0-2.4-2-4.4-4.4-4.4-.6 0-1.2.1-1.7.3-1.6.7-2.7 2.3-2.7 4.1 0 .3 0 .6.1.9.3 1.3 1.1 2.4 2.2 3 .6.3 1.3.6 2.1.6.4 0 .7-.1 1.1-.2 1.9-.5 3.3-2.2 3.3-4.3zM141.5 29.1c-7.5 0-13.6 6.1-13.6 13.6 0 .6 0 1.2.1 1.7 4.9 5.7 12.2 9.3 20.3 9.3.4 0 .9 0 1.3-.1 3.3-2.5 5.5-6.4 5.5-10.9 0-1.9-.4-3.8-1.1-5.4-2.1-4.8-6.9-8.2-12.5-8.2z"></path><path class="ht2" d="M128.6 34c2.8-4.1 7.5-6.8 12.9-6.8 6.5 0 12 3.9 14.4 9.5.8 1.9 1.2 3.9 1.2 6.1 0 4.1-1.6 7.8-4.1 10.6 12.6-2.2 22.2-13.2 22.2-26.4 0-14.8-12-26.9-26.9-26.9-.9 0-1.7 0-2.6.1 0 .1.1.3.1.4.1.3.1.6.2.9V2c0 2.9-2 5.4-4.8 6.1-.5.1-1 .2-1.5.2-.8 0-1.6-.2-2.3-.5-1.1-.4-2-1.1-2.7-2-.4-.5-.6-1-.9-1.5-7.5 4.8-12.6 13.1-12.6 22.7 0 5.5 1.7 10.6 4.5 14.9.4-3 1.4-5.7 2.9-7.9zm39.4-8.5c.3.7.5 1.5.5 2.4 0 2.6-1.6 4.9-3.9 5.8-.7.3-1.5.4-2.3.4-1.2 0-2.4-.4-3.3-1-1.7-1.1-2.9-3-2.9-5.3 0-1.5.5-2.9 1.4-4 1.1-1.4 2.9-2.3 4.8-2.3 2.5.2 4.7 1.8 5.7 4zM157.1 5.4c4.1 0 7.5 3.4 7.5 7.5s-3.4 7.5-7.5 7.5-7.5-3.4-7.5-7.5c0-4.2 3.4-7.5 7.5-7.5zm-14 10.3c.3 0 .6 0 .8.1.1 0 .2.1.3.1 1.7.5 3 2.1 3 4 0 1.1-.4 2-1.1 2.8-.8.9-1.9 1.4-3.1 1.4-.3 0-.6 0-.8-.1-1.2-.2-2.2-1-2.7-2-.4-.6-.6-1.3-.6-2.1 0-.6.1-1.1.3-1.6.7-1.5 2.2-2.6 3.9-2.6z"></path><path class="ht2" d="M141.3 18.1c-.4.5-.7 1.1-.7 1.7 0 1 .6 1.9 1.5 2.3.1 0 .2.1.3.1s.1.1.2.1c.2 0 .3.1.5.1 1.4 0 2.5-1.1 2.5-2.5 0-1.2-.9-2.2-2-2.5-.2 0-.3-.1-.5-.1-.7.1-1.4.4-1.8.8zM157.1 7.1c-3.1 0-5.7 2.5-5.7 5.7 0 3.1 2.5 5.7 5.7 5.7 3.1 0 5.7-2.5 5.7-5.7 0-3.1-2.6-5.7-5.7-5.7z"></path><path class="ht3" d="M62 28.3l-2.1 6.2-.8 2.2 8 4v-7.3l-1.6-1.6zM94.4 51.1c5.7-2.7 10.2-7.2 12.9-12.9l-8.6 4.2-4.3 8.7zM76.2 51.3l-2.3.8c2.8 1 5.9 1.6 9.1 1.6 3.2 0 6.3-.6 9.1-1.6l-1-.3L83 49l-6.8 2.3zM59.6 16.7l-.5.2 1.6 4.8 1.3 3.7 3.6-3.6 1.5-1.5V13zM87.3 11L83 6.6 78.6 11zM87 8.4l2.6 2.6h7.2l-3.9-8-1.8.6-6.7 2.2zM77.8 2.9L83 4.7l5.8-2 3.3-1.1C89.3.6 86.2 0 83 0c-3.2 0-6.3.6-9.1 1.6l3.9 1.3zM107.3 15.4c-2.7-5.7-7.2-10.2-12.9-12.9l.9 1.8 3.4 6.9 8.6 4.2zM105.3 26.3l-.2.5 3.1 9.1c1-2.8 1.6-5.9 1.6-9.1s-.6-6.3-1.6-9.1l-2.9 8.6zM58.7 38.3c2.7 5.7 7.2 10.2 12.9 12.9l-4.2-8.6-6.1-3-2.6-1.3zM71.8 5.5L69.2 11h7.2l3.5-3.5 1.6-1.7L73.1 3zM58.7 20.5l-.9-2.8c-1 2.9-1.6 5.9-1.6 9.1s.6 6.3 1.6 9.1l.3-.9 2.8-8.2-2.2-6.3zM71.6 2.5C66 5.2 61.4 9.7 58.7 15.4l7.7-3.8 1-.5 4.2-8.6zM67.1 31.2v-8.7l-4.3 4.3zM97.3 12.5h-6.2l6.2 6.2zM97.3 20.9l-8.4-8.4H77.1l-8.4 8.4v11.9l2.4 2.4 6 5.9h11.8l2.7-2.6 5.7-5.7zM106.9 16.9l-2.6-1.2-5.4-2.7v7.3l3.6 3.6 1.5 1.5zM103.2 26.8l-.4-.4-3.9-3.9v8.7l.4-.5zM98.9 33.4v7.3l1.3-.7 6.7-3.3-1.5-4.4-1.4-4zM68.7 12.5v6.2l6.1-6.2zM81.5 47.8l-5.1-5.1h-7.2l3.9 8zM69.3 35.6l-.6-.6v6.1h6.1zM96.8 42.7h-7.2l-5.2 5.1 2.4.8 6.1 2.1zM97.3 35l-6.2 6.1h6.2zM83 47.1l4.3-4.4h-8.7z"></path><path class="ht4" d="M190.1 15.7c.5.3 1 .6 1.6.9.1 0 .2.1.4.1 1.5.6 3.3.9 5.3.9h.9c.4 0 .8-.1 1.2-.1h.2c-.6-1.3-2-4.2-4.4-6.2-.1-.1-.2-.2-.3-.2-.7-.6-1.5-1-2.1-1.2-1.4 1.6-2.5 3.5-3.4 5.4.1.1.3.3.6.4z"></path><path class="ht4" d="M232.9 43.3h-.9c-3.5 0-7.1-1.4-10.2-3.9-1.9-1.6-3.5-3.5-4.8-5.3-2.8-4-4.1-7.8-4.2-8.1-.1-.2-.1-.5 0-.7 0-.1 0-.1.1-.2l.1-.1c.2-.2.4-.4.7-.5.1 0 2.6-.5 6.1-.5 1.6 0 3.1.1 4.5.3 1.9.3 3.7.7 5.4 1.3.4.1.8.3 1.1.5 3.9 1.8 7 4.7 8.2 8.2.1.2.1.3.1.5.8-2.5 1.2-5.2 1.2-8 0-4.2-1-8.1-2.7-11.6-1.5 1-3.1 1.9-4.9 2.6-3.4 1.3-7.4 1.9-11.8 1.9-2.5 0-4.5-.2-5.8-.4-.9-.1-1.5-.2-1.5-.2-.3-.1-.6-.3-.8-.5-.2-.3-.2-.6-.1-.9.1-.4 2.8-8 8.6-14 .6-.6 1.2-1.2 1.9-1.8-3-1.2-6.3-1.9-9.8-1.9-1.6 0-3.2.2-4.8.5.4.2.9.6 1.2 1 .1.1.2.3.3.4 1.1 1.6 1.5 3.7 1.2 5.9-.7 3.9-3.3 6.9-3.4 7.1-.1.1-.2.2-.3.2-.1.1-.3.1-.5.1-.1 0-.2 0-.3-.1-.1 0-.2-.1-.3-.2-.1-.1-.2-.1-.2-.2-.1-.1-1-1.1-1.8-2.7-.6-1.2-1.3-2.7-1.6-4.3-.4-2.1 0-4.1 1-5.7.1-.2.2-.4.4-.5-4 1.4-7.5 3.8-10.3 6.8.4.2.8.4 1.2.7.4.2.7.5 1.1.8 1.5 1.3 2.7 2.8 3.5 4.2 1.2 1.9 1.7 3.5 1.7 3.6v.7c0 .1 0 .2-.1.3-.2.3-.4.5-.8.5-.1 0-1.5.3-3.5.3-1.2 0-2.4-.1-3.4-.3-.9-.2-1.7-.4-2.5-.6-.5-.2-.9-.4-1.3-.6-.5-.3-1-.6-1.5-1-1.2 3.1-1.9 6.4-1.9 10l.6-.3c.7-.5 1.5-.9 2.3-1.2 1.9-.7 4-1.1 6.3-1.1h.7c2.4 0 4.1.3 4.2.4.1 0 .2.1.2.1.1.1.2.1.3.2l.2.2c0 .1.1.2.1.2 0 .1.1.3 0 .4v.3c-.1.2-2 5.7-6.3 9.3-1.9 1.6-4 2.5-6.2 2.7 2.8 6.1 7.8 10.9 14 13.5l-.2-.2c-.9-1-1.5-2.3-2-3.7-.7-2.1-.8-4.4-.4-6.8 1.1-6.6 5.7-11.8 5.9-12.1.4-.5 1.3-.5 1.7 0 .2.2 4 4.6 5.5 10.5.1.5.3 1.1.4 1.6.7 4-.2 7.9-2.4 10.5l-.3.3c-.7.8-1.5 1.3-2.3 1.7 1.5.3 3 .4 4.5.4 8.8 0 16.6-4.3 21.5-10.8-.4.1-1.1.2-1.9.3z"></path><path class="ht4" d="M214.8 17.5c.1 0 .2 0 .4.1 1.2.2 3.3.4 5.9.4 2.4 0 4.7-.2 6.9-.6 1.5-.3 3-.7 4.3-1.2 1.2-.5 2.4-1 3.5-1.7.4-.3.8-.5 1.2-.8-2.7-4.8-6.8-8.6-11.7-11-.1.1-.3.2-.4.3l-.1.1c-5.9 4.8-9.1 12.1-10 14.4zM210.2 50.2c.6-.7 1.1-1.6 1.4-2.5.7-1.7.9-3.6.7-5.7 0-.3-.1-.6-.1-.9-.5-2.9-1.7-5.5-2.9-7.5-.8-1.4-1.6-2.4-2.1-3.1-1.2 1.5-4.2 5.7-5 10.6-.5 3.2 0 6.2 1.5 8.4.2.2.3.5.5.7.1.1.2.2.2.3.6.6 1.2 1 1.8 1.2.3.1.7.2 1 .2 1 0 2.1-.6 3-1.7zM196.6 26h-.8c-2 .1-3.9.4-5.5 1-.9.3-1.8.8-2.5 1.3-.3.2-.6.5-.9.7.2 2.5.8 5 1.6 7.3 1.3-.1 3.5-.5 5.8-2.4 3-2.5 4.8-6.2 5.4-7.8-.7-.1-1.7-.2-2.9-.2-.1.1-.2.1-.2.1zM205.8 2.5c-.9 1.1-1.3 2.8-1.2 4.5 0 .2 0 .3.1.5.1.8.4 1.5.6 2.2.5 1.3 1.2 2.4 1.7 3.1.1.1.2.2.2.3.4-.5 1-1.4 1.5-2.4.4-.8.7-1.6.9-2.5.1-.2.1-.5.2-.7.2-1.4.1-2.9-.5-4-.2-.4-.4-.7-.6-1-.4-.5-.9-.8-1.3-.9h-.1c-.1 0-.3 0-.4.1-.4.1-.8.4-1.1.8zM237.6 35.6c-.1-.2-.1-.4-.2-.6-.4-1-1-2-1.7-2.9-1.6-2-3.9-3.7-6.6-4.7s-5.8-1.5-9.3-1.5c-2.2 0-4 .2-5 .3.8 1.9 3.1 7.2 7.3 11.1.3.2.5.5.8.7 2.8 2.3 6 3.5 9 3.5 1.5 0 2.8-.3 3.8-.9.7-.4 1.2-.8 1.5-1.4 0-.1.1-.2.1-.2.2-.3.3-.7.3-1.2.3-.6.2-1.4 0-2.2z"></path></svg></div>
          
          <div class="w-full sm:w-32 h-32 flex flex-col justify-center p-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 719.713 87.336"><path d="M495.793 87.336L547.129 0h172.008v14.4H590.111l-12.744 22.032h68.113l-8.209 14.4H568.8l-13.105 22.032h68.473L615.6 87.336H495.793zM372.312 64.584h51.623c-1.727 2.52-2.52 5.04-1.439 6.624 1.871 2.808 8.496 1.439 10.225.864 3.455-1.08 5.328-3.24 6.982-6.12l8.641-15.12h-52.631c-11.018 0-11.377-6.552-6.912-14.4L405 8.928C409.824 1.008 416.305 0 424.584 0h91.512c9.289 0 9.289 7.56 5.545 14.4l-5.184 9.288h-51.912c1.584-3.024 1.654-5.688.432-7.344-2.016-2.736-7.344-2.16-10.152-.72-2.232 1.224-4.104 3.312-6.121 6.696l-8.279 14.112h50.904c10.729 0 12.385 7.849 9 14.4l-15.48 25.848c-4.176 6.84-11.375 10.656-19.656 10.656H374.33c-8.928 0-12.023-5.904-8.209-12.384l6.191-10.368zM263.592 14.4C271.872 0 285.624 0 296.28 0h77.761c8.207 0 15.119 6.84 10.654 14.4l-34.343 58.464c-7.272 11.664-13.104 14.472-22.392 14.472h-90.504c-8.928 0-13.032-6.552-8.208-14.472L263.592 14.4zm45.144 7.92l-26.208 43.632c-.864 1.584-1.224 3.023-.72 4.176 1.656 3.6 11.808 2.952 15.336 2.232 5.04-1.152 6.336-4.752 7.416-6.408l25.848-43.632c1.8-3.096 1.584-5.112 0-6.336-2.304-1.8-9.36-1.944-13.248-.864-3.312.936-6.048 3.024-8.424 7.2zM138.024 0h99.792c7.92 0 14.112 7.2 8.928 15.84l-10.296 17.496C231.984 41.256 224.424 45 218.88 45c5.544 3.096 5.544 8.567 2.736 13.392L211.32 76.319c-2.736 4.824-6.912 11.017-19.584 11.017H0V72.864h95.04L138.024 0zm29.952 36.432h25.416c5.904 0 8.28-3.096 9.648-5.832l5.184-8.28c2.088-3.744 2.088-7.92-2.376-7.92h-24.84l-13.032 22.032zm-21.672 36.432h25.416c5.904 0 8.28-3.097 9.647-5.832l5.185-8.28c2.088-3.816 2.088-7.92-2.448-7.92h-24.768l-13.032 22.032zm566.135-40.968c-3.959 0-7.344-3.096-7.344-7.272s3.385-7.2 7.344-7.2c3.961 0 7.273 3.024 7.273 7.2.001 4.176-3.312 7.272-7.273 7.272zm-5.904-7.272c0 3.456 2.594 6.048 5.904 6.048 3.24 0 5.832-2.592 5.832-6.048s-2.592-6.048-5.832-6.048c-3.31 0-5.904 2.592-5.904 6.048zm4.393.576v3.6h-1.295v-8.352h3.168c2.016 0 2.951.72 2.951 2.376 0 1.512-.936 2.16-2.16 2.304l2.377 3.672h-1.441l-2.16-3.6h-1.44zm0-1.08h1.512c1.08 0 2.018-.072 2.018-1.368 0-1.008-.938-1.224-1.801-1.224h-1.729v2.592z" fill-rule="evenodd" clip-rule="evenodd"></path></svg></div><div class="w-full sm:w-32 h-32 flex flex-col justify-center p-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="4.364 4.651 331.271 46.466"><path d="M47.741 4.761v26.537c0 9.081-4.381 14.448-17.538 14.448-13.195 0-17.599-5.367-17.599-14.448V12.644c-.169-4.422-3.794-7.975-8.24-7.975V9.82c1.611 0 2.893 1.252 3.045 2.824v20.468c0 10.521 8.252 17.997 22.793 17.997 14.519 0 22.738-7.478 22.738-17.997V4.761h-5.199zM198.803 44.995V32.562c0-1.707 1.451-3.109 3.133-3.143h22.654V24.18h-22.732a8.233 8.233 0 0 0-3.055.658V9.864h36.973V4.651h-42.225v45.556h43.762v-5.212h-38.51zM292.529 27.469c-1.1 0-2.139.225-3.1.616l-.045-18.518 28.545-.011a8.944 8.944 0 0 1 8.961 8.955c0 4.955-4.006 8.974-8.961 8.974l-25.4-.016zm39.916 17.843c-1.254 1.006-3.039.804-4.127-.352l-9.965-12.652c7.441-.229 13.397-6.327 13.397-13.809 0-7.658-6.203-13.849-13.851-13.849H284.17v45.557h5.211l.051-14.843c.057-1.654 1.455-3.032 3.147-3.032l19.185.005 12.463 15.827c2.869 3.39 7.906 3.955 11.406 1.204l-3.188-4.056zM133.661 45.312l-28.76-.025V32.365c.021-1.725 1.453-3.192 3.165-3.192l25.596-.006c4.46 0 8.059 3.61 8.059 8.048-.001 4.488-3.6 8.097-8.06 8.097m-28.76-35.745l28.892.033c4.048 0 7.323 3.285 7.323 7.34 0 4.032-3.274 7.312-7.323 7.312h-26.161a8.374 8.374 0 0 0-2.731.647V9.567zm36.27 17.1c2.934-2.234 4.856-5.756 4.856-9.749 0-6.752-5.483-12.251-12.251-12.251l-34.083-.016v45.556h33.968c7.164 0 12.964-5.812 12.964-12.992 0-4.351-2.159-8.192-5.454-10.548" fill="#10111c"></path></svg>
          </div>
        </div> 
      </section>
    </div> 
  </div>  
  
</div>

{{!-- 1st section --}}


<div id="what-is" class="relative w-full max-w-screen-xl px-8 py-10 mx-auto text-lg sm:py-20">
  <div class="grid gap-10 md:grid-cols-3">
    <div class="flex flex-col col-span-2 justfify-center">
      <ul class="pb-4 text-xl markdown">
        <li>
          <div class="markdown">
            <h2 class="text-2xl md:text-4xl font-bold pb-8">What is <strong class="text-primary-900 font-bold">{{catData.title}}</strong> and what does it measure?</h2>
            <p class="text-base md:text-lg leading-relaxed text-gray-700 tracking-wide font-semibold">
              {{certData.metadata.info1}}
            </p><br>
            <p class="text-base md:text-lg leading-relaxed text-gray-700 tracking-wide font-semibold">
              {{certData.metadata.info2}}
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-span-2 space-y-8 md:col-span-1 md:mt-6">
      <div class="p-6 text-base bg-gradient-to-r from-back-dark via-back-semi to-back-light rounded-lg shadow">
        <h4 class="mb-4 text-lg font-medium text-primary-400">Jump to a section on this page:</h4>
        <ol class="space-y-3 list-none list-inside">
          <li class="text-gray-300 hover:text-gray-200">
            <a href="#what-is" class="duration-150 ease-out hover:text-secondary">What is an {{catData.title}} and what does it measure?</a>
          </li>
          <li class="text-gray-300 hover:text-gray-200">
            <a href="#why-should" class="duration-150 ease-out hover:text-secondary">Why should our free {{catData.title}}?</a>
          </li>
          <li class="text-gray-300 hover:text-gray-200">
            <a href="#the-format" class="duration-150 ease-out hover:text-secondary">The format of our {{catData.title}}</a>
          </li>
          <li class="text-gray-300 hover:text-gray-200">
            <a href="#score" class="duration-150 ease-out hover:text-secondary">{{catData.title}} score card</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>


{{!-- 1st section ends --}}

{{!-- <div class="bg-white">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-6xl lg:px-8">
    <h2 class="text-lg font-medium text-gray-900">Comments</h2>
    <div class="mt-6 space-y-10 divide-y divide-gray-200 border-t border-b border-gray-200 pb-10">
      <div class="pt-10 lg:grid lg:grid-cols-12 lg:gap-x-8">
        <div class="lg:col-span-8 lg:col-start-5 xl:col-span-9 xl:col-start-4 xl:grid xl:grid-cols-3 xl:items-start xl:gap-x-8">

          <div class="mt-4 lg:mt-6 xl:col-span-2 xl:mt-0">
            <h3 class="text-sm font-medium text-gray-900">Can&#039;t say enough good things</h3>

            <div class="mt-3 space-y-6 text-sm text-gray-500">
              <p>I was really pleased with the overall shopping experience. My order even included a little personal, handwritten note, which delighted me!</p>
              <p>The product quality is amazing, it looks and feel even better than I had anticipated. Brilliant stuff! I would gladly recommend this store to my friends. And, now that I think of it... I actually have, many times!</p>
            </div>
          </div>
        </div>

        <div class="mt-6 flex items-center text-sm lg:col-span-4 lg:col-start-1 lg:row-start-1 lg:mt-0 lg:flex-col lg:items-start xl:col-span-3">
          <p class="font-medium text-gray-900">Risako M</p>
          <time datetime="2021-01-06" class="ml-4 border-l border-gray-200 pl-4 text-gray-500 lg:ml-0 lg:mt-2 lg:border-0 lg:pl-0">May 16, 2021</time>
        </div>
      </div>

      <!-- More reviews... -->
    </div>
  </div>
</div> --}}

    <!-- More main page content here... -->



<div class="bg-gradient-to-r from-back-dark via-back-semi to-back-light">
  <div class="w-full max-w-screen-xl px-8 py-20 mx-auto pb-24">
    <div  id="why-should" class="-mx-6">
      <div class="items-center lg:flex">
        <div class="lg:w-1/2 px-6 order-2">
          <div class="relative mx-auto max-w-md sm:max-w-3xl sm:px-6 lg:px-0 order-2">
          <!-- Content area -->
          <div class="pt-6 md:pt-12 lg:pt-8">
            <h2 class="text-2xl md:text-4xl font-bold tracking-tight text-gray-200 pb-4"><strong  class="font-bold text-primary-400">Why use</strong> {{catData.title}}?</h2>
            <div class="mt-6 space-y-6 text-gray-300">
              <p class="text-base md:text-lg tracking-wide font-semibold">{{certData.metadata.whyCertification.[0]}}</p>
              <p class="text-base md:text-lg tracking-wide font-semibold">{{certData.metadata.whyCertification.[1]}}</p>
              {{!-- <p class="text-base leading-7">{{certData.metadata.whyCertification.[2]}}</p> --}}
            </div>
          </div>

          <!-- Stats section -->
          <div class="mt-6">
            <dl class="grid grid-cols-4 gap-x-4 gap-y-4">
              <div class="border-t-2 border-gray-700 pt-6">
                <dt class="text-base font-medium text-gray-500">Price</dt>
                <dd class="text-xl md:text-3xl font-bold tracking-tight text-gray-200">0$</dd>
              </div>

              <div class="border-t-2 border-gray-700 pt-6">
                <dt class="text-base font-medium text-gray-500">Questions</dt>
                <dd class="text-xl md:text-3xl font-bold tracking-tight text-gray-200">50+</dd>
              </div>

              <div class="border-t-2 border-gray-700 pt-6">
                <dt class="text-base font-medium text-gray-500">Quality</dt>
                <dd class="text-xl md:text-3xl font-bold tracking-tight text-gray-200">99.9%</dd>
              </div>

              <div class="border-t-2 border-gray-700 pt-6">
                <dt class="text-base font-medium text-gray-500">Students</dt>
                <dd class="text-xl md:text-3xl font-bold tracking-tight text-gray-200">10K+</dd>
              </div>
            </dl>
            {{!-- <div class="mt-10">
              <a href="/exam/{{catData.commentsSlug}}/{{certData.slug}}/view/page/1" class="text-base font-medium text-indigo-600">
                Start preparing now
                <span aria-hidden="true"> &rarr;</span>
              </a>
            </div> --}}
          </div>
        </div>
        </div>
        <div class="relative flex justify-center px-4 lg:w-1/2">
          <span class="z-40 w-full" style="max-width: 450px;">
              <img class="" src="/images/whyuse5.svg" alt="">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>




{{!-- Format section --}}


<div class="bg-gray-200">
  <div id="the-format" class="w-full max-w-screen-xl px-8 py-20 mx-auto">
    <div class="-mx-6">
      <div class="items-center lg:flex">
        <div class="lg:w-1/2 px-6">
          <h2 class="mt-2 pb-8 leading-none text-gray-900 text-2xl md:text-4xl font-bold"><strong class="font-bold text-primary-900">Format</strong> of {{catData.title}}</h2>
          <p class="text-base md:text-lg leading-relaxed text-gray-700 tracking-wide font-semibold">
            {{certData.metadata.format1}}
          </p>
          <br>
          <p class="text-base md:text-lg leading-relaxed text-gray-700 tracking-wide font-semibold">
            {{certData.metadata.format2}}
          </p>
        </div>
        <div class="relative flex justify-center px-4 lg:w-1/2">
          <span class="z-40 w-full" style="max-width: 450px;">
              <img class="" src="/images/format0.svg" alt="">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>




{{!-- score card section --}}



<div class="bg-gradient-to-r from-back-dark via-back-semi to-back-light">
  <div id="score" class="w-full max-w-screen-xl px-8 py-20 mx-auto">
    <div class="-mx-6">
      <div class="items-center lg:flex">
        <div class="lg:w-1/2 px-6 order-2">
          <h3 class="mt-2 mb-8 text-2xl md:text-4xl font-bold leading-none text-gray-200">View sample <strong  class="font-bold text-primary-400">score card</strong></h3>
          <p class="pb-8 text-gray-300 text-base md:text-lg leading-relaxed tracking-wide font-semibold">The process of evaluating a candidate's performance on the {{catData.title}} and other assessments involves compiling the results of these assessments into a comprehensive report. </p>
          <p class="pb-8 text-gray-300 text-base md:text-lg leading-relaxed tracking-wide font-semibold">The candidate report is designed to provide a detailed overview of the candidate's strengths and weaknesses, as well as their overall performance on the various assessments they have taken. It can be used by employers and managers to make informed decisions about the candidate's suitability.</p>
          <div class="mt-6">
          <a target="_blank" href="/images/score.jpg" download class="text-gray-100 bg-gray-600 hover:bg-gray-700 inline-flex items-center justify-center md:font-medium leading-tight shadow-md duration-200 rounded bg-secondary hover:bg-secondary-400 text-button px-4 py-2 text-md md:text-lg mb-4">
            <span>Download sample report</span>
          </a>
          <p class="text-gray-200 text-sm">powered by <a target="_blank" class="font-semibold underline decoration-gray-400 underline-offset-4 duration-200 hover:decoration-gray-50" href="https://www.adaface.com/">Adaface</a></p>
        </div>
        </div>
        <div class="relative flex justify-center px-4 lg:w-1/2">
          <span class="z-40 w-full md:rotate-[-2deg]" style="max-width: 450px;">
              <img class="" src="/images/score.jpg" alt="">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>



{{!-- Uses our test --}}
{{!-- 
<div class="bg-gray-200 bg-opacity-25">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8">
      <h2 class="mx-auto max-w-md text-center text-3xl font-bold tracking-tight text-primary-900 lg:max-w-xl lg:text-left">The world's most innovative companies use our employment aptitude tests</h2>
      <div class="mt-8 flow-root self-center lg:mt-0">
        <div class="-mt-4 -ml-8 flex flex-wrap justify-between lg:-ml-4">
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow justify-center lg:ml-4 lg:flex-grow-0">
            <img class="h-12" src="/images/startup1.png" alt="Workcation">
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow justify-center lg:ml-4 lg:flex-grow-0">
            <img class="h-12" src="/images/startup2.png" alt="Tuple">
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow justify-center lg:ml-4 lg:flex-grow-0">
            <img class="h-12" src="/images/startup3.png" alt="Level">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}



{{!-- review --}}


<section class="relative bg-gray-200">
  <div class="overflow-x-hidden bg-gray-200 pb-4 pt-24">
    
    <div class="relative max-w-4xl mx-auto px-8 sm:px-16">
      <div class="relative text-left bg-gradient-to-r from-back-dark via-back-semi to-primary-900 px-4 py-2 rounded-md">
        <figure class="block px-4">
          <span class="block h-2 w-16 bg-secondary mb-4"></span>
          <div class="flex items-left pb-2">
            <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
            <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Second star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
            <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Third star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
            <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fourth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
            <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fourth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
          </div>
          <blockquote class="relative text-base md:text-lg mx-auto mb-4 font-semibold text-gray-200">"I found the {{certData.title}} to be well-designed and informative. They helped me to understand my strengths and weaknesses, and provided guidance for future career development. I highly recommend these tests to anyone looking to gain insight into their abilities."</blockquote>
          <figcaption class="mt-8">
            <div class="flex items-center justify-end">
              {{!-- <div class="flex-shrink-0 inline-flex rounded-full border-2 border-secondary">
                <img class="h-16 w-16 rounded-full" src="https://res.cloudinary.com/picked/image/upload/v1607596586/cms/picked-testimonials-1607596586.jpg" alt="Christina, HR Director, Cancer Research, UK" loading="lazy" width="64" height="64">
              </div> --}}
              <div class="ml-4">
                <div class="text-base leading-6 font-medium text-gray-300">Siddharth, Co-founder, Adaface, Singapore</div>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>



<div class="bg-gray-200">
  <div class="mx-auto max-w-2xl py-16 px-4 text-center sm:pt-8 sm:pb-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
      <span class="block text-gray-800">Start practicing with our free {{certData.title}} today.</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-primary-900">Boost your productivity.</p>
    <a href="/exam/{{catData.commentsSlug}}/{{certData.slug}}/view/page/1" class="mt-8 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-primary-700 px-5 py-3 text-base font-medium text-gray-200 hover:bg-primary-600 sm:w-auto">View questions</a>
  </div>
</div>


{{/content}}