{{#content "metaNew"}}
{{> faqs-html-schema-embed}}
{{/content}}

{{#content "body"}}
    <div class="bg-gradient-to-r from-back-dark via-back-semi to-back-light">
      <div class="w-full max-w-screen-xl px-6 py-12 lg:py-0 mx-auto">
        <div class="-mx-6">
          <div class="lg:flex">
            <div class="lg:w-1/2 px-12 lg:px-6 md:pt-24 lg:pl-12 lg:pt-44 xl:pl-2">
                <h1 class="mt-2 mb-6 text-4xl font-bold tracking-tight leading-none md:text-6xl text-center lg:text-left text-gray-200">5+ Free employment <strong class="font-bold text-primary-500">aptitude</strong> tests</h1>
                <p class="mt-6 text-lg leading-8 text-center lg:text-left text-gray-200">Hundreds of thousands have used employement based aptitude test, absolutely free. Walk out on exam day a aptitude master!
                </p>
            </div>
            <div class="relative lg:w-11/12 lg:max-w-2xl">
              <img class="relative max-w-2xl px-6 mx-auto mt-4 object-contain h-10/12 w-9/12 h-fit w-fit" src="/images/ctop.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>  


    <div class="px-8 md:px-32 py-12 bg-gradient-to-r from-back-dark via-back-semi to-back-light">
      <section aria-labelledby="quick-links-title">
        <div class="divide-y divide-gray-800 overflow-hidden rounded-lg bg-gray-200 shadow sm:grid md:grid-cols-2 lg:grid-cols-5 sm:gap-px sm:divide-y-0">
        {{#each categories}}
          <div class="relative group bg-gradient-to-t from-gray-300 to-gray-100 bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-500">
            <div>
              <span class="rounded-lg inline-flex p-2 bg-gray-300 text-black font-light text-sm">
                <p>{{commentsSlug}}</p>
              </span>
            </div>
            <div class="mt-8">
              <h3 class="text-lg font-medium">
                <a href="/exam/{{commentsSlug}}/{{sublink}}" class="focus:outline-none">
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  {{logo}} Reasoning
                </a>
              </h3>
              <p class="mt-2 text-sm text-gray-800">{{description}}</p>
            </div>
            <span class="pointer-events-none absolute top-6 right-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
              </svg>
            </span>
          </div>
        {{/each}}

        </div>
      </section>
    </div>

	<div class="bg-gray-200 py-24 sm:py-16 lg:py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="sm:text-center">
      {{!-- <h2 class="text-lg font-semibold leading-8 text-primary-900">Employement Aptitude Tests</h2> --}}
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Master Your <strong class="text-primary-900 font-bold">Aptitude Skills </strong> with Comprehensive Tests</p>
      <p class="mx-auto mt-6 max-w-2xl text-base text-gray-800">Our employement aptitude tests are the best because they provide the latest, most comprehensive and up-to-date content available for mastering over 5+ aptitude skills that you are aiming for.</p>
    </div>

    <div class="mt-20 max-w-lg sm:mx-auto md:max-w-none">
      <div class="grid grid-cols-1 gap-y-16 md:grid-cols-2 md:gap-x-12 md:gap-y-16">
        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-primary-600 text-white sm:shrink-0">
            <!-- Heroicon name: outline/globe-alt -->
            <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
            </svg>
          </div>
          <div class="sm:min-w-0 sm:flex-1">
            <p class="text-lg font-semibold leading-8 text-gray-900">Practice Tests</p>
            <p class="mt-2 text-base leading-7 text-gray-700">Practice tests provide a hands-on approach to studying and allow candidates to develop their test-taking skills.</p>
          </div>
        </div>

        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-primary-600 text-white sm:shrink-0">
            <!-- Heroicon name: outline/scale -->
            <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0012 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 01-2.031.352 5.988 5.988 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 01-2.031.352 5.989 5.989 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971z" />
            </svg>
          </div>
          <div class="sm:min-w-0 sm:flex-1">
            <p class="text-lg font-semibold leading-8 text-gray-900">Comprehensive questions</p>
            <p class="mt-2 text-base leading-7 text-gray-700">Comprehensive questions that assess the candidate’s knowledge of the certification area.</p>
          </div>
        </div>

        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-primary-600 text-white sm:shrink-0">
            <!-- Heroicon name: outline/bolt -->
            <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
            </svg>
          </div>
          <div class="sm:min-w-0 sm:flex-1">
            <p class="text-lg font-semibold leading-8 text-gray-900">Detailed Answer Explanations</p>
            <p class="mt-2 text-base leading-7 text-gray-700">Step-by-step answer explanations to help candidates understand the correct answer and why it is correct.</p>
          </div>
        </div>

        <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
          <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-primary-600 text-white sm:shrink-0">
            <!-- Heroicon name: outline/device-phone-mobile -->
            <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
            </svg>
          </div>
          <div class="sm:min-w-0 sm:flex-1">
            <p class="text-lg font-semibold leading-8 text-gray-900">Timed Exams</p>
            <p class="mt-2 text-base leading-7 text-gray-700">Timed tests that mimic real-world exams to help candidates prepare for the actual exam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{{!-- 1st section --}}



<div class="bg-gradient-to-r from-back-dark via-back-semi to-back-light">
  <div class="w-full max-w-screen-xl px-6 py-20 mx-auto">
    <div class="-mx-6">
      <div class="items-center lg:flex">
        <div class="lg:w-1/2 px-6">
          {{!-- <p class="block font-medium tracking-wide uppercase text-secondary">Validated</p> --}}
          <h3 class="mt-2 mb-6 text-4xl font-bold leading-none text-gray-200"><strong class="font-bold text-primary-500">Potential</strong> Career Growth</h3>
          <p class="pb-8 text-xl text-gray-300">Employement aptitude tests provide evidence-based aptitude questions which are asked in over 500 jobs. Our aptitude tests are designed to help individuals identify their strengths and potential areas of success within a particular career field. Try the vast set of potential questions.</p>
        </div>
        <div class="relative flex justify-center px-4 lg:w-1/2">
          <span class="hidden lg:block lg:absolute top-0 right-0 z-30" style="height: 300px;">
            <svg width="404" height="300" fill="none" viewBox="0 0 404 300">
              <defs>
                <pattern id="svg-pattern-squares-1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                  <rect x="0" y="16" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                </pattern>
              </defs>
              <rect width="500" height="300" fill="url(#svg-pattern-squares-1)" opacity="0.4"></rect>
            </svg>
          </span>
          <span class="z-40 w-full" style="max-width: 450px;">
              <img class="" src="/images/grow.svg" alt="">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


{{!-- 2ND SECTION --}}


<div class="bg-gray-200">
  <div class="w-full max-w-screen-xl px-6 py-20 mx-auto">
    <div class="-mx-6">
      <div class="items-center lg:flex">
        <div class="order-2 lg:w-1/2 px-6">
          {{!-- <p class="block font-medium tracking-wide uppercase text-secondary">Validated</p> --}}
          <h3 class="mt-2 mb-6 text-4xl font-bold leading-none text-gray-900">Credible and <strong  class="font-bold text-primary-700">verified</strong> tests</h3>
          <p class="pb-8 text-xl text-gray-800">Experience real-world scenarios with our tests! Our practice exams are designed to mimic the style and difficulty of actual industry certification exams. Get a feel for what it's like to work at top companies and start your career off on the right foot.</p>
        </div>
        <div class="relative flex justify-center px-4 lg:w-1/2">
          <span class="z-40 w-full" style="max-width: 450px;">
              <img class="" src="/images/mid.svg" alt="">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>



{{!-- 3RD SECTION --}}


<div class="bg-gradient-to-r from-back-dark via-back-semi to-back-light">
  <div class="w-full max-w-screen-xl px-6 py-20 mx-auto">
    <div class="-mx-6">
      <div class="items-center lg:flex">
        <div class="lg:w-1/2 px-6">
          {{!-- <p class="block font-medium tracking-wide uppercase text-secondary">Validated</p> --}}
          <h3 class="mt-2 mb-6 text-4xl font-bold leading-none text-gray-200"><strong class="font-bold text-primary-500">Unleash</strong> full potential</h3>
          <p class="pb-8 text-xl text-gray-300">Our aptitude tests are based on best practices and the latest problems in industries. Our assessments, performance reviews, and structured tests guides surveys are all developed by experts to provide ready-to-use and quality content. Practice upto the real potential required for cracking any aptitude round.</p>
        </div>
        <div class="relative flex justify-center px-4 lg:w-1/2">
          <span class="z-40 w-full" style="max-width: 450px;">
              <img class="" src="/images/full.svg" alt="">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>




<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/typography'),
    ],
  }
  ```
-->


<div class="overflow-hidden bg-gray-200 py-16">
  <div class="mx-auto max-w-7xl space-y-8 px-4 sm:px-6 lg:px-8 md:pb-8">
    <div class="mx-auto max-w-prose text-base lg:max-w-none">
      <h2 class="text-lg font-semibold text-primary-700">Testimonial</h2>
      <p class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">What makes us different?</p>
    </div>
    {{!-- <div class="relative z-10 mx-auto max-w-prose text-base lg:mx-0 lg:max-w-5xl lg:pr-72">
      <p class="text-lg text-gray-500">Oracle Tech Solutions is a leading software company that regularly hires highly-skilled candidates. They recently opened positions for software developers and engineers and decided to focus on candidates who had practiced with free certification dumps.</p>
    </div> --}}
    <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-8">
      <div class="relative z-10">
        <div class="prose prose-indigo mx-auto text-gray-800 lg:max-w-none">
          <p>Oracle Tech Solutions is a leading software company that regularly hires highly-skilled candidates. They recently opened positions for software developers and engineers and decided to focus on candidates who had scored better in employement based aptitude tests.</p>
          <p>The company found that those who had practiced with the employement based aptitude test were better prepared when they took their assessments. The employees also had better overall knowledge of the subject matter and superior critical thinking skills, which lead to better results on their projects as well.</p>
          <p>In addition, Oracle Tech Solutions also found that their new hires were able to quickly learn and adapt to the company’s culture and processes. This reduced the time and effort needed for onboarding and training, allowing the company to increase its productivity.</p>
        </div>
        {{!-- <div class="mx-auto mt-10 flex max-w-prose text-base lg:max-w-none">
          <div class="rounded-md shadow">
            <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-5 py-3 text-base font-medium text-white hover:bg-indigo-700">Contact sales</a>
          </div>
          <div class="ml-4 rounded-md shadow">
            <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-indigo-600 hover:bg-gray-50">Learn more</a>
          </div>
        </div> --}}
      </div>
      <div class="relative mx-auto mt-12 max-w-prose text-base lg:mt-0 lg:max-w-none">
        {{!-- <svg class="absolute top-0 right-0 -mt-20 -mr-20 lg:top-auto lg:right-auto lg:bottom-1/2 lg:left-1/2 lg:mt-0 lg:mr-0 xl:top-0 xl:right-0 xl:-mt-20 xl:-mr-20" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <defs>
            <pattern id="bedc54bc-7371-44a2-a2bc-dc68d819ae60" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#bedc54bc-7371-44a2-a2bc-dc68d819ae60)" />
        </svg> --}}
        <blockquote class="relative rounded-lg bg-white shadow-lg">
          <div class="rounded-t-lg px-6 py-8 sm:px-10 sm:pt-10 sm:pb-8">
            {{!-- <img src="https://tailwindui.com/img/logos/workcation-logo-indigo-600-mark-gray-800-and-indigo-600-text.svg" alt="Workcation" class="h-8"> --}}
            <div class="relative mt-8 text-lg font-medium text-gray-700">
              <svg class="absolute top-0 left-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-gray-200" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
              </svg>
              <p class="relative">I have been using employement aptitude tests for our internal training for a few years now, and I am really impressed with the quality of the material. The aptitude problems are comprehensive and up to date, and they provide our staff with the necessary knowledge to keep up with the latest trends in their field. Using these tests has allowed us to increase the efficiency of our training process and has saved us countless hours of research.</p>
            </div>
          </div>
          <cite class="relative flex items-center rounded-b-lg bg-primary-700 py-5 px-6 not-italic sm:mt-10 sm:items-start sm:py-5 sm:pl-12 sm:pr-10">
            <span class="relative rounded-full border-2 border-white sm:absolute sm:top-0 sm:-translate-y-1/2 sm:transform">
              <img class="h-12 w-12 rounded-full bg-indigo-300 sm:h-20 sm:w-20" src="https://images.unsplash.com/photo-1618085221129-cb9f9ac1e651?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2.5&w=160&h=160&q=80" alt="">
            </span>
            <span class="relative ml-4 font-semibold leading-6 text-indigo-300 sm:ml-24 sm:pl-1">
              <span class="font-semibold text-white sm:inline">Gina Miller</span>
              <span class="sm:inline">HR Manager at Oracle Tech Solutions</span>
            </span>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>



<section class="bg-gradient-to-r from-back-dark via-back-semi to-back-light">
  <div class="mx-auto max-w-7xl md:grid md:grid-cols-2 md:px-6 lg:px-12">
    <div class="py-12 px-4 sm:px-6 md:flex md:flex-col md:border-r md:border-gray-900 md:py-16 md:pl-0 md:pr-10 lg:pr-16">
      <div class="md:flex-shrink-0">
        {{!-- <img class="h-12" src="https://tailwindui.com/img/logos/tuple-logo-indigo-300.svg" alt="Tuple"> --}}
      </div>
      <blockquote class="mt-6 md:flex md:flex-grow md:flex-col">
        <div class="relative text-lg font-medium text-gray-100 md:flex-grow">
          <svg class="absolute top-0 left-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-primary-600" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
            <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
          </svg>
          <p class="relative">The free certification dumps were an invaluable resource for preparing for certification exams. They had detailed explanations, tips and tricks, and practice questions that made the whole process much easier.</p>
        </div>
        <footer class="mt-8">
          <div class="flex items-start">
            <div class="inline-flex flex-shrink-0 rounded-full border-2 border-white">
              <img class="h-12 w-12 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </div>
            <div class="ml-4">
              <div class="text-base font-medium text-white">Jasmine Richards</div>
              <div class="text-base font-medium text-primary-200">HR Officer, Digital Solutions Hub</div>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
    <div class="border-t-2 border-gray-900 py-12 px-4 sm:px-6 md:border-t-0 md:border-l md:py-16 md:pr-0 md:pl-10 lg:pl-16">
      <div class="md:flex-shrink-0">
        {{!-- <img class="h-12" src="https://tailwindui.com/img/logos/workcation-logo-indigo-300.svg" alt="Workcation"> --}}
      </div>
      <blockquote class="mt-6 md:flex md:flex-grow md:flex-col">
        <div class="relative text-lg font-medium text-white md:flex-grow">
          <svg class="absolute top-0 left-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-primary-600" fill="currentColor" viewBox="0 0 32 32">
            <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
          </svg>
          <p class="relative">Using the free certification dumps was a great way to make sure candidates are well-prepared for our training exams.</p>
        </div>
        <footer class="mt-8">
          <div class="flex items-start">
            <div class="inline-flex flex-shrink-0 rounded-full border-2 border-white">
              <img class="h-12 w-12 rounded-full" src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </div>
            <div class="ml-4">
              <div class="text-base font-medium text-white">Daphne Schuyko</div>
              <div class="text-base font-medium text-indigo-200">CEO, TechPros Global Solutions</div>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>






<section aria-labelledby="faq-heading" class="bg-gray-200 py-4">
  <div class="max-2xl mx-auto py-16 px-4 sm:py-16 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="max-w-xl">
      <h2 id="faq-heading" class="text-3xl font-bold tracking-tight text-gray-900">Frequently asked questions</h2>
      {{!-- <p class="mt-4 text-base text-gray-300">Questions. Frequently asked ones. Plus our answers. If you can't find what you're looking for, you can always send us an email with your enquiry.</p> --}}
    </div>

    <dl class="mt-12 grid grid-cols-1 gap-y-10 sm:mt-16 md:grid-cols-2 md:gap-x-6 lg:grid-cols-3">
      {{#each faqsData}}
      <div>
        <dt class="text-lg font-medium text-gray-900">{{q}}</dt>
        <dd class="mt-3 text-md text-gray-700">{{a}}</dd>
      </div>
      {{/each}}
    </dl>
  </div>
</section>


{{/content}}