{{#content "body"}}

<div class="mx-auto mt-8 max-w-5xl" >

	<div class="space-y-16 px-10 ques" id="content">
		{{> questions-list}}
	</div>

<nav class="flex items-center justify-between border-t border-gray-400 bg-gray-200 px-4 py-3 sm:px-6 mt-20" aria-label="Pagination">
  <div class="hidden sm:block">
    <p class="text-sm text-gray-700 font-bold">
      Showing
      <span class="font-medium">{{from}}</span>
      to
      <span class="font-medium">{{to}}</span>
      of
      <span class="font-medium">{{total}}</span>
      results
    </p>
  </div>
  <div class="flex flex-1 justify-between sm:justify-end">

    <button id="download" class="relative inline-flex items-center rounded-md border border-gray-300 bg-gray-800 px-4 py-2 text-sm font-medium text-gray-100 hover:bg-gray-900">Generate PDF</button>

    {{#if prevUrl}}<a href="{{prevUrl}}" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-gray-800 px-4 py-2 text-sm font-medium text-gray-100 hover:bg-gray-900">Previous</a>{{/if}}
    {{#if nextUrl}}<a href="{{nextUrl}}" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-gray-800 px-4 py-2 text-sm font-medium text-gray-100 hover:bg-gray-900">Next</a>{{/if}}
  
  </div>
</nav>


</div>

 

	<script>
		var q = {{{JSONstringify questions}}};

    // code to generate - 1
    /*var doc = new jsPDF();
    var content = document.getElementById("content").innerHTML;

    content = content.replace(/<script\b[^<]*(?:(?!<\/script>)<[^<]*)*<\/script>/gi, "");
    content = content.replace(/<img/g, '<img style="width:30px;"');

    doc.fromHTML(content, 15, 15, {
      'width': 190
    });

    document.getElementById("download").addEventListener("click", function () {
      doc.save('content.pdf');
    });*/

    // code to generate - 2
    document.getElementById("download").addEventListener("click", function () {
      var pdf = new jsPDF('p', 'pt', 'a4');
      var content = document.getElementById("content").innerHTML;
      content = content.replace(/<script\b[^<]*(?:(?!<\/script>)<[^<]*)*<\/script>/gi, "");
      specialElementHandlers = {
        '#bypassme': function (element, renderer) {
          return true
        }
      };
      margins = {
        top: 40,
        bottom: 40,
        left: 40,
        width: 522
      };
      pdf.fromHTML(
        content,
        margins.left,
        margins.top, {
          'width': margins.width,
          'elementHandlers': specialElementHandlers
        },

        function (dispose) {
          pdf.save('webpage.pdf');
        }, margins);
    });
  

	</script>
{{/content}}